{% extends 'layout.html' %}

{% block title %}{{ title }} : Jeroen Wellner{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<section class="clear">
	<div class="col-4-tablet col-12">
		<h3>About me</h3>

		<p>Building things for the Internet since 1995.</p>

		<a href="/about/">Over mij</a>
	</div>
	<div class="col-4-tablet col-12">
		<h3>Projects</h3>

		<p>What am I currently working on?</p>

		<a href="/projects/">Projecten</a>
	</div>
	<div class="col-4-tablet col-12">
		<h3>Blog</h3>

		<p>Technology, cycling and other stuff that keeps me busy.</p>

		<a href="/blog/">Blog</a>
	</div>
</section>
{% endblock %}