<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Jeroen Wellner{% endblock %}</title>

    <meta name="description" content="Jeroen Wellner - Freelance Mobile &amp; Web Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    {% block head %}
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
    {% endblock %}
</head>
<body>
<header role="banner" class="clear no-padding-tablet no-padding-tablet">
    <div class="logo col-6-tablet col-8-desktop col-12">
        <h1><a href="/">Jeroen Wellner</a></h1>
        <p>Mobile &amp; Web Development</p>
    </div>
    <nav role="navigation" class="col-6-tablet col-4-desktop col-12 no-padding-tablet">
        <ul>
            <li><a href="/about/">About me</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
</header>
<main role="main" class="clear">
    <section class="content col-12 col-8-desktop">
        {% block content %}{% endblock %}
    </section>
    <aside class="col-3 col-12 col-4-desktop">
        <h3>Latest posts</h3>
        <ul>
            {% for post in collections.lastPosts %}
            <li><a href="/{{ post.path }}/">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </aside>
</main>
<footer role="contentinfo" class="clear">
    <div class="col-8-desktop col-12">
        If needed, <a href="https://github.com/jwellner/www.wllnr.nl/issues/new">leave some feedback</a>
    </div>
    <div class="col-4-desktop col-12">
        <small class="right-desktop"><a href="https://github.com/jwellner/www.wllnr.nl/blob/master/src/{{ original_filename }}">src/{{ original_filename }}</a></small>
    </div>
</footer>
</body>
</html>