<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site.title }}{% endblock %}</title>

    <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1258A5">

    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="/css/index.css" inline>
</head>
<body class="page">
  <main class="box">{% block content %}{% endblock %}</main>
  <script src="/assets/js/main.bundle.js" inline></script>
</body>
</html>
