.content {
	padding: 15px;

	h1,h2,h3,h4 {
		&:first-child {
			margin-top: 0;
		}
	}

	code, pre {
		word-wrap: break-word;
		font-family: "courier new",monospace,serif;
		color: #272727;
		background-color: #f1f1f1;
		font-weight: normal;
		padding: 5px;
		white-space: pre-wrap;
	}

	pre {
		padding: 10px;
		overflow: auto;
		border: 1px solid #d7d7d7;
	}
}
