html {
	height: 100%;
    background-color: #444;
    -webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

header {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;

	nav {
		ul {
			width: 100%;
			display: table;
		    list-style: none;
		    padding: 0;
		    margin: 0;
		    font-size: 1.2em;

		    li {
		    	display: table-cell;
		    }
		}

		a {
		    padding: 30px 16px;
		    background-color: #2A85E8;
		    color: #eee;
		    display: block;
			text-align: center;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				background-color: lighten(#2A85E8, 10%);
			}
		}
	}

	.logo {
		h1 {
			margin: 10px 0 0 0;
			background-color: #2A85E8;
			color: #fff;
			padding: 0 10px;
			transform: translate(0) rotate(-2deg);
			display: inline-block;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #fff;
				}
			}

			&:hover {
				transition: all .2s ease-in-out;
				transform: scale(1.1);
			}
		}

		p {
		    margin: 0;
    		padding: 0 0 0 55px;
		}
	}
}

footer {
	color: #fff;
    background-color: #444;
    clear: both;
    margin: 20px 0;
    padding: 20px 20px;

	a {
		color: #fff;
	}
}

main {
	>aside {

	}
}

.flip {
	display: inline-block;
	transform: scale(1, -1);
}

ul {
	padding: 0 0 0 20px;
}

h1, h2, h3 {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

p.date {
	font-style: italic;
}