.footer {
	background-color: #444;
	color: #fff;
	padding: 15px;
	flex-grow: 2;

	@include breakpoint('small') {
		display: flex;
		justify-content: space-between;
	}
}

.footer__link {
	color: #fff;

	&:hover {
		color: #fff;
	}
}
