.header {
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;

	@include breakpoint('small') {
		flex-direction: row;
		justify-content: space-between;
	}
}

.header__title-container {
	padding: 0 15px 15px 15px;

	@include breakpoint('small') {
		padding: 0 15px;
	}
}

.header__navigation-container {
	@include breakpoint('medium') {
		width: 50%;
	}
	@include breakpoint('large') {
		width: 33%;
	}
}

.header__title {
	margin: 10px 0 0 0;
	background-color: #2A85E8;
	color: #fff;
	padding: 0 10px;
	transform: translate(0) rotate(-2deg);
	display: inline-block;

	&:hover {
		transition: all .2s ease-in-out;
		transform: scale(1.1);
	}
}

.header__title-link {
	color: #fff;
	text-decoration: none;

	&:hover {
		color: #fff;
	}
}

.header__tagline {
	margin: 0;
	padding: 0 0 0 55px;
}
