.main {
	display: flex;
	flex-direction: column;

	@include breakpoint('small') {
		flex-direction: row;
		justify-content: space-between;
	}
}

.main__content {

	@include breakpoint('small') {
		width: 67%;
	}
}

.main__aside {
	@include breakpoint('small') {
		width: 33%;
	}
}
