.navigation {
	width: 100%;
	display: table;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.2em;
}

.navigation__item {
	display: table-row;

	@include breakpoint('small') {
		display: table-cell;
	}
}

.navigation__item-link {
	padding: 15px 16px;
	background-color: #1258A5;
	color: #eee;
	display: block;
	text-align: center;
  text-decoration: none;
  font-weight: bold;

	&:hover {
		text-decoration: underline;
		background-color: darken(#1258A5, 10%);
	}

	@include breakpoint('small') {
		padding: 30px 16px;
	}
}
