@import "node_modules/normalize-scss/sass/normalize";

@include normalize();

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

ul {
	padding-left: 20px;
}

a {
	color: #444;

	&:hover {
		text-decoration: none;
	}
}
