.page {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	color: #444;
	min-height: 100%;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;

	display: flex;
	flex-direction: column;
}
